[2014-09-03 01:32] TimothyGu opened #1 "Wrong dll/implib generation rule"
Migrated from: https://code.google.com/p/dlfcn-win32/issues/detail?id=15

Reported by: @LRN on April 24, 2014.

---

What steps will reproduce the problem?
1. build a shared library

What is the expected output? What do you see instead?
Expected:
libdl.dll - a PE shlib
libdl.dll.a - an import library for that shlib
Got:
libdl.dll - a PE shlib
libdl.dll.a - a PE shlib

What version of the product a

[2014-09-03 01:35] TimothyGu opened #2 "Can't load "printf" from "current process" address space"
Migrated from https://code.google.com/p/dlfcn-win32/issues/detail?id=17

Originally reported by: @TooTallNate on Jun 8, 2014.

---

**What steps will reproduce the problem?**

  1. Download the attached `test.c` file
  2. Compile it against dlfcn-win32 (something like: cl.exe /I dlfcn-win32 dlfcn-win32\dlfcn.c test.c /Fetest.exe)
  3. Run `test.exe` and witness it failing to load "printf"

**What

[2015-02-07 14:06] wm4 opened #5 "Not thread-safe"
For some reason, library handles are cached (why?), using a global linked list. This makes the exported functions unsafe to use in a multithreaded setting.

[2015-02-08 00:24] TimothyGu commented on #5
@wm4 said:

They are cached only when `RTLD_GLOBAL` is specified in `dlopen`, as POSIX [mandates][1]:

We never said this project is thread-safe. In fact, in `dlfcn.c` we specifically said that:

[code]

(Can't seem to find the MSDN page right now but I swear I saw somewhere that they are not thread-safe)

Also, POSIX doesn't say that the functions have to be thread safe anyway.

[1]: http://pubs.

[2015-03-11 14:01] xantares commented on #1
hey,
that's what i fixed in
https://github.com/dlfcn-win32/dlfcn-win32/pull/7

[2015-03-11 14:05] xantares commented on #1
@TimothyGu so you find cmake more complex ? cmakelists.txt is ~30 lines, configure+makefile are ~300+ lines of code:

do you find this less complex:
[code]

than that:
[code]

[2015-03-12 00:08] TimothyGu commented on #1
@xantares I've been meant to convert this whole homebrew thing to autotools, but that effort was stalled due to my being busy. CMake is simple for simple projects, but extremely complex once you want to do something other than dynamic linking. I guess for this project it's fine but I'm generally not a fan of it.

[2015-03-12 00:13] #5 closed

[2015-03-12 00:15] #1 closed

[2015-03-12 05:30] TimothyGu commented on #2
PR posted.

[2015-03-16 00:17] #2 closed

[2015-03-16 02:08] TimothyGu opened #13 "Add AppVeyor support"

[2015-03-16 02:08] TimothyGu opened #14 "Split test suite into different files"

[2015-03-16 02:08] TimothyGu opened #15 "Test on mingw and mingw-w64"

[2015-03-16 02:08] TimothyGu opened #16 "New release"

[2015-03-16 02:12] TimothyGu opened #17 "Uncrustify"

[2015-04-07 01:37] robertwgh opened #18 "Please specify the dependency to psapi.lib in the README.md"
Not everyone would download the demo project.
As per my experiment, this is the only library required by dlfcn-win32.
Please explicitly  state this in the README, this could save people tons of time.

[2015-04-07 01:43] TimothyGu commented on #18
Yes it is. `psapi` is a standard Windows library so you shouldn't need to know about this unless you are using static library. I will update it soon.

[2015-04-07 08:11] robertwgh commented on #18
The easiest way might be adding the following line to dlfcn.c :
#pragma comment(lib,"psapi.lib")

Then, you don't need to care about the library, no matter it is statically or dynamically linked.

[2015-04-07 16:48] TimothyGu commented on #18
@robertwgh true. Does that work with MinGW though?

[2015-04-07 17:12] robertwgh commented on #18
Not sure about that.
I mean for VS users, that works better. Since the user does not need to
touch any thing regarding to the library itself.
I don't work with MinGW.
I basically have a project compiled under VS2010/2012 and Android ndk.

On Tue, Apr 7, 2015 at 9:48 AM, Timothy Gu <notifications@github.com> wrote:

[2015-04-07 18:35] robertwgh opened #19 "Library cannot be loaded using dlopen()"
I am trying to use dlfcn to load the OpenCL.dll library (which comes with Nvidia or AMD graphics driver).
OpenCL.dll is typically located at
`C:\Windows\System32\OpenCL.dll`, 32bit version
`C:\Windows\SysWOW64\OpenCL.dll`, 64bit version.

When I try to load the library, the `LoadLibraryEx()` gives an error code 126. I tried to figure out what happened. But haven't found out the reason yet. These t

[2015-04-07 20:23] TimothyGu commented on #18
OK I'll take a look.

[2015-04-07 20:49] TimothyGu commented on #19
Can you give a reduced test case? What does `dlerror` output?

[2015-04-07 20:54] robertwgh commented on #19
dlerror output is not complete for some reason, which makes it harder to
debug.
dlerror() shows "OpenCL.dll: T"

I don't know what that means.

On Tue, Apr 7, 2015 at 1:49 PM, Timothy Gu <notifications@github.com> wrote:

[2015-04-07 20:57] robertwgh commented on #19
The code I used is:

[code]

[2015-04-07 22:21] TimothyGu commented on #19
What language is your Windows system running on? The message is supposed to be localized.

[2015-04-07 22:23] TimothyGu commented on #19
Also, you shouldn't need to add the full path. Simply `dlopen("OpenCL.dll")` should work.

[2015-04-07 22:56] robertwgh commented on #19
I think the problem might be because of the `LPSTR` type cast before the lpFileName:
[code]

While `LoadLibraryEx` is defined as follows:
[code]

The language setting of my Windows is English. The non-unicode language is English, see 2.png.
So in my VS2012 project, I chose "Use Unicode charset",  see 1.png
then I got 126 error, and dlerror() reports "OpenCL.dll: T", see 3.png
Actually, when compil

[2015-04-07 23:11] robertwgh commented on #19
Change

[code]
to
[code]

By using this, I can open the library in Unicode mode.
But at the same time, the following code gives error: `dlfcn.c(170): warning C4133: 'function' : incompatible types - from 'char *' to 'LPWSTR'`
[code]

[2015-04-07 23:13] robertwgh commented on #19
I can help fix these two place. Should I go ahead to start a pull request?

[2015-04-07 23:13] TimothyGu commented on #19
Yes please!

[2015-04-07 23:16] TimothyGu commented on #19
While at it you can change the default to unicode too.

[2015-04-07 23:23] robertwgh commented on #19
Sure. I will work on it tonight.
I will try to make as minimal changes as I can, but support both wchar and unicode.

[2015-04-07 23:25] TimothyGu commented on #19
@robertwgh you know what you can just drop the support for multibyte. Nobody (should) use it anymore.

Also `wchar_t` is Unicode in Windows IIRC.

[2015-04-07 23:37] robertwgh commented on #19
I think the current code works well for multibyte. We had better keep it
just in case someone need it for some legacy projects.
Plus, there are not much to modify. Probably just a few places.
Using #ifdef _UNICODE should be clean enough.

On Tue, Apr 7, 2015 at 4:25 PM, Timothy Gu <notifications@github.com> wrote:

[2015-04-07 23:39] TimothyGu commented on #19
Ok sounds good.

[2015-04-09 12:54] shviller commented on #15
On MinGW (as opposed to w64; I haven't tested the latter) it fails with ```undefined reference to `sprintf_s'```. It would seem that adding
[code]
at least lets it build and pass the tests.

[2015-06-29 15:23] raphaelh opened #21 "Add dladdr & Dl_info"
Are you planning to add dladdr & Dl_info support?

Thanks!

[2015-08-11 21:58] rdp opened #22 "permissions on /tmp/test.c can cause configure failure"
./configure: line 157: /tmp/test.c: Permission denied
testing compiler: /Users/rdp2/dev/ffmpeg-windows-build-helpers/sandbox/mingw-w64-i686/bin/i686-w64-mingw32-gcc -shared -o /tmp/test.dll /tmp/test.c
/Users/rdp2/dev/ffmpeg-windows-build-helpers/sandbox/mingw-w64-i686/lib/gcc/i686-w64-mingw32/4.9.3/../../../../i686-w64-mingw32/bin/ld: cannot open output file /tmp/test.dll: Permission denied
colle

[2015-09-04 11:05] vikramarjun opened #23 "Change license to MIT"
We are facing issues in modules that depend on dlfcn-win32. BEcause LGPL is not generally accepted in commercial product. Could you please change the license text to MIT.

Here is a related issue https://github.com/node-ffi/node-ffi/issues/223

[2015-09-04 11:11] vikramarjun commented on #23
I can submit a pull request if you desire.

[2015-10-31 20:45] TimothyGu commented on #23
@ramiropolla thoughts?

[2015-10-31 20:46] TimothyGu commented on #21
Neither dladdr nor Dl_info is POSIX.

[2015-10-31 20:46] #21 closed

[2015-11-30 01:27] mingwandroid opened #24 "Make source releases use a fixed URL."
I'm considering adding dlfcn-win32 to crosstool-ng for GCC plugin support (it's one option; perhaps GCC upstream already have something else planned!)

Would it be possible for you to make a new release and also, when you do this from now on, to release the source packages with a URL where the basename matches the final filename? Currently, only the binaries follow this rule:
    `https://github.c

[2016-01-24 19:02] TimothyGu commented on #24
Okay.

[2016-01-24 19:04] #23 closed

[2016-01-24 19:05] TimothyGu commented on #19
Should be fixed in aa1401bf7cf45262f10c5318f99ce5be3ea767ae

[2016-01-24 19:05] #19 closed

[2016-01-24 19:05] TimothyGu commented on #22
Hmm...

[2016-02-01 00:01] mingwandroid commented on #24
Thanks. Sorry about the spam from github. Unfortunately, every time I rebase the commit which has a reference to this issue URL in its comment, github updates this page :-(

Do have have an ETA for the next release? I'll push ahead and try to get GCC plugins to work on Windows when that happens.

[2016-02-01 00:13] TimothyGu commented on #24
I'll try to do it tomorrow if that’s fine with you.

[2016-02-01 01:10] mingwandroid commented on #24
That would be great. Thank you.

[2016-02-01 23:30] tonytheodore commented on #22
Using `/tmp` can also cause errors when building multiple targets simultaneously.

[2016-02-02 00:02] tonytheodore commented on #24
@mingwandroid, you can use the following url format:

[code]

[2016-02-22 21:39] yselkowitz commented on #18
No, `#pragma comment(lib,...)` is a MSVCism not supported by GCC (and hence MinGW).

[2016-07-25 09:57] TimothyGu commented on #15
Nah, I've decided to stop supporting the very old MinGW.

[2016-07-25 09:57] #15 closed

[2016-08-11 11:06] tonytheodore commented on #22
Fixed in #26.

[2016-08-11 14:30] TimothyGu commented on #22
Indeed.

[2016-08-11 14:30] #22 closed

[2016-11-28 22:04] traversaro commented on #16
I am looking into packaging this library for [`vcpkg`](https://github.com/Microsoft/vcpkg), and a new release (including the CMake build system) would definitely be handy. Thanks a lot for the library!

Ref: https://github.com/Microsoft/vcpkg/issues/201

[2017-02-21 23:47] traversaro commented on #13
I added an AppVeyor script, but at the moment it seems that tests are not passing in Visual Studio 2015 :
https://ci.appveyor.com/project/traversaro/dlfcn-win32/build/1.0.4 .
It is necessary to fix the tests for then enabling the AppVeyor CI.

[2017-02-22 22:08] traversaro opened #28 "Fix tests in Visual Studio 2015"
See https://ci.appveyor.com/project/traversaro/dlfcn-win32/build/1.0.4 ,

[2017-02-23 06:00] TimothyGu commented on #28
Any reason why AppVeyor is running on traversaro/dlfcn-win32 rather than this repo?

[2017-02-23 07:29] traversaro commented on #28
Setting up an organization account in `dlfcn-win32` require a separate email and being administrator of the repo, see https://www.appveyor.com/docs/team-setup/#setting-up-appveyor-account-for-github-organization . I was planning to look into it, but before I wanted to get the tests to work. : )

[2017-03-09 23:02] #13 closed

[2017-03-09 23:02] #28 closed

[2017-03-12 14:20] traversaro commented on #16
Done in https://github.com/dlfcn-win32/dlfcn-win32/releases/tag/v1.1.0 .

[2017-03-12 14:20] #16 closed

[2017-03-12 14:23] traversaro commented on #24
As explained by @tonytheodore , a "fixed" url for the latest release is available :
* https://github.com/dlfcn-win32/dlfcn-win32/archive/v1.1.0/dlfcn-win32-1.1.0.tar.gz
* https://github.com/dlfcn-win32/dlfcn-win32/archive/v1.1.0/dlfcn-win32-1.1.0.zip

[2017-03-12 14:23] #24 closed

[2017-03-12 14:24] traversaro commented on #18
As correctly mentioned by @yselkowitz , the `#pragma comment(lib,...)` is a MSVCiscm that additionally does not play well with most build systems. I think it make sense to close this, @TimothyGu please reopen if you think otherwise.

[2017-03-12 14:24] #18 closed

[2017-04-07 20:11] xantares opened #32 "dlopen crashes using RTLD_NOW"
since aa1401b (#20) using RTLD_NOW (replace RTLD_GLOBAL in test.c) with mingw crashes:
```library = dlopen( "testdll.dll", RTLD_NOW );```

I discovered this while updating from 1.0.0 to 1.1.0, both i686 & x86_84, from linux/mingw/gcc6.3.1

[2017-04-09 15:50] traversaro opened #33 "Fix problem with AppVeyor WebHooks"
After adding support for AppVeyor, we experienced several problems with AppVeyor GitHub WebHooks [1,2].
After a brief check I think this is due to the fact that I added the project to AppVeyor, but I don't have sufficient rights to create WebHooks for the `dlfcn-win32/dlfcn-win32` repo [3].
@TimothyGu , I just added you to the `dlfcn-win32` AppVeyor team as an admin, can you check if you are able

[2017-04-09 15:54] traversaro commented on #32
Thanks for the bug report @xantares . I definitely not an expert on `RTLD_NOW`, but I will investigate the problem. Any additional hint or possible solution is extremely welcome, thanks!

[2017-04-10 18:29] TimothyGu commented on #33
I deleted and readded the project.

[2017-04-10 18:33] TimothyGu commented on #33
Hmm doesn't seem like webhooks are added automatically to the GitHub repo…

[2017-04-11 10:39] Fishkin opened #34 "dlerror crashes if called twice, NULL pointer bug"
dlerror is coded badly. It sets current_error to NULL as per the specs, but if called again, it will use it as source to memcpy.

You need to add this at the beginning of the function:

if(!current_error) return NULL;

[2017-04-12 17:14] traversaro commented on #34
Thanks for the report! I hope to address this issue in the next week.

[2017-04-12 17:17] traversaro commented on #33
I suspect there is something related to the fact that I created the `dlfcn-win32` AppVeyor account without having the admin rights on the `dlfcn-win32` GitHub organization. I will write to AppVeyor support explaining the problem.

[2017-04-12 19:45] Fishkin commented on #34
Yeah, that bug bit me when I compiled a patched MinGW so it supports plugins on Windows, because GCC uses dlerror twice in plugin.c. It works flawlessly when patched with that line, good to know it will be fixed so it won't frustrate someone else. :)

[2017-04-15 19:02] TimothyGu commented on #34
@Fishkin Would you mind submitting a pull request?

[2017-04-15 19:05] TimothyGu commented on #33
@traversaro I've invited you to become an Owner of the @dlfcn-win32 org, hope that helps.

[2017-04-16 07:57] traversaro commented on #33
Thanks @TimothyGu , that indeed solved the issue, see https://github.com/dlfcn-win32/dlfcn-win32/pull/35 .

[2017-04-16 07:57] #33 closed

[2017-04-16 07:59] traversaro commented on #32
As highlighted by https://ci.appveyor.com/project/dlfcn-win32/dlfcn-win32/build/1.0.1/job/qqr8sxnrakseufbx , `RTLD_NOW` crashes the library also using MSVC . This should simplify solving the issue.

[2017-05-01 09:44] traversaro commented on #32
Hi @xantares ,
   the PR that you proposed to highlight the issue ( https://github.com/dlfcn-win32/dlfcn-win32/pull/37 ) stop crashing if bug https://github.com/dlfcn-win32/dlfcn-win32/issues/34 is fixed . Note that the test continues to fail, but I think that is due to the fact that the specs:

Passing only `RTLD_NOW` means that neither `RTLD_GLOBAL` nor `RTLD_LOCAL` flags are specified, and appa

[2017-05-04 11:12] #34 closed

[2017-05-04 18:10] xantares commented on #32
I really cannot help here, but the crash is gone and the test is ok since your fix, thanks!

[2017-05-04 18:10] #32 closed

[2017-05-04 18:13] traversaro commented on #32
Ok, thanks a lot @xantares !

[2018-03-08 15:25] jdolan opened #42 "Provide build artifacts download via AppVeyor"
The AppVeyor build for this project doesn't currently produce any artifacts. It'd be nice if the build made `dlfcn.dll`, `dlfcn.a`, and `dlfcn.h` (for example) available as `dlfcn-win32.zip` or something, for folks who don't wish to compile this library themselves.

[2018-03-08 15:31] traversaro commented on #42
This is a good idea, thanks!

I don't know if we have time to work on this in the short time, but I would be happy to review a PR on this.

If somebody is willing to work on this, I suggest to also include the `dlfcn-win32-config.cmake` file in the binary archive to simplify usage of the distributed binaries using CMake.

[2018-10-30 19:35] carlfm01 opened #43 "Bazel support"
Is there an example to use with bazel, or at least an idea on how to use it with Bazel?

[2018-10-30 21:51] traversaro commented on #43
Hi @carlfm01 ,
  as far as I know, there is no Bazel BUILD file available for `dlfcn-win32`.
However, the library is quite simple (it is just composed of the [`dlfcn.h`](https://github.com/dlfcn-win32/dlfcn-win32/blob/master/dlfcn.h) header file and
the [`dlfcn.c`](https://github.com/dlfcn-win32/dlfcn-win32/blob/master/dlfcn.c) source file. There are a few more details (you need to define the `SHA

[2018-10-30 22:06] carlfm01 commented on #43
Thanks, really appreciate that you take the time to reply, I'll look into that. My final goal with this is to finally bring a DeepSpeech client to Windows. I'll share the results.

[2018-11-01 16:58] carlfm01 commented on #43
Hi, I finally compiled it using this BUILD file for Bazel

The problem is when I run the .exe the file the lib didn't load.

I found https://github.com/kkm000/openfst for my project. When I finish my project I'll try again.

[2018-11-01 17:28] traversaro commented on #43
I am not a bazel user, but I have two doubts:
* Are you sure that `cc_library` for `testdll.c` is generating a shared library with the correct name `testdll.dll` ? The test hardcoded that that is the expected name of the plugin to load: https://github.com/dlfcn-win32/dlfcn-win32/blob/f1acf5d2fe8af6095e0f3a3061af9c23712651fd/test.c#L90 .
* Are you running the test executable in the same directory t

[2018-12-21 20:23] traversaro commented on #43
For people interested in Bazel support, the [`rules_foreign_cc`](https://github.com/bazelbuild/rules_foreign_cc) may be interesting.

[2019-02-10 08:43] traversaro commented on #17
I guess you do not plan to work on this now @TimothyGu, and the consistency of the code style in the code base is ok. I am closing this issue, please reopen if you think is necessary, thanks!

[2019-02-10 08:43] #17 closed

[2019-02-10 08:44] traversaro commented on #14
I guess you do not plan to work on this now @TimothyGu, and at the moment the size of the test file is not unbearable. I am closing this issue, please reopen if you think is necessary, thanks!

[2019-02-10 08:44] #14 closed

[2019-02-10 09:01] traversaro opened #45 "Add to the Continuous Integration compilation and tests using a GCC-based Windows compiler"
For example https://github.com/dlfcn-win32/dlfcn-win32/pull/44 introduced some changes that is convenient to make sure that work fine on GCC-based compilers such as mingw.

[2019-02-10 09:03] traversaro commented on #45
Related issue: https://github.com/simbody/simbody/issues/453 .

[2019-02-12 08:31] traversaro opened #49 "Add support and docs for using dlfcn-win32 using CMake's FetchContent"

[2019-02-12 08:33] traversaro commented on #49
Similar issues:
* https://github.com/robotology/ycm/issues/162
* https://github.com/open62541/open62541/issues/2436

[2019-02-14 13:58] traversaro commented on #45
Fixed by https://github.com/dlfcn-win32/dlfcn-win32/pull/48 .

[2019-02-14 13:58] #45 closed

[2019-05-03 08:45] pali commented on #15
You do not need to use `snprintf` at all. There is fixed buffer and maximal possible size of formatted output. For this purpose is `sprintf` enough and that function is available in MSVC, old mingw, and also mingw-w64. I included fix in pull request https://github.com/dlfcn-win32/dlfcn-win32/pull/50 -- it removes lot of unneeded #ifdef.

[2019-05-03 08:49] pali commented on #19
Solution in commit aa1401b is too long, complicated and adds lot of useless code. The main problem is that you should call `LoadLibraryExA` for Unicode builds (not `LoadLibraryEx` or `LoadLibraryExW`). Similarly with `FormatMessageA`. Fix is in pull request https://github.com/dlfcn-win32/dlfcn-win32/pull/50

[2019-05-06 20:18] pali commented on #18
In this pull request https://github.com/dlfcn-win32/dlfcn-win32/pull/51 is removal of link time dependency on psapi.dll and change to runtime dependency. So it is not needed to link psapi.dll anymore. Function from that library is loaded at runtime, but to avoid circle dlopen/dlsym calls are not used :-)

[2019-05-21 16:28] cipher1024 opened #53 "Installation instructions"
What is the recommended way of installing this library into a project?

[2019-05-21 19:53] traversaro commented on #53
I think the "recommended way" really depends on which build  system you use in your project, and how you handle other 3rd-party dependencies.

If you use CMake, you can install `dlfcn-win32` in a specific prefix using `CMAKE_INSTALL_PREFIX` , and then find it  using the instructions documented in https://github.com/dlfcn-win32/dlfcn-win32#using-cmake .
I think it should be possible to also consume

[2019-05-22 15:48] cipher1024 commented on #53
So far so good. I followed the instruction for `cmake` and I added a call to `vcpkg` in my appveyor script. `cmake` doesn't seem to be finding `dlfcn-win32`. How do I encode the path to `dlfcn-win32` into my `cmake` file?

[2019-07-23 23:01] jannick0 opened #57 "MAX_PATH restriction feasible after Windows dropped it for Win10?"
[Microsoft](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file) stated _Starting in Windows 10, version 1607, `MAX_PATH` limitations have been removed from common Win32 file and directory functions._

I am wondering if it is feasible to apply the `MAX_PATH` restriction as implemented here:

https://github.com/dlfcn-win32/dlfcn-win32/blob/11ff86bfab0e3baf6d17d2f2743aa735b3656ef7/dl

[2019-08-21 09:20] KOLANICH opened #60 "ERROR Non-library file %TEMP%\temp.dll was processed via WINAPI: 18 From line 138"
Windows 7, 32-bit
The toolchain is https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/8.1.0/threads-posix/sjlj/i686-8.1.0-release-posix-sjlj-rt_v6-rev0.7z

[2019-08-21 10:43] traversaro commented on #60
Hi @KOLANICH ,
   can you provide the commands that you executed for generating this error? Thanks!

[2019-08-21 14:08] KOLANICH commented on #60
Just built with cmake+ninja (configured using GUI) and executed the test file. Please note that path to temporary dir was replaced by `%TEMP%` manually in order to prevent disclosure of username, program output contained the path without any env variables.

[2019-08-21 15:21] KOLANICH opened #61 "Should common subset of ZDICT_cover_params_t and ZDICT_fastCover_params_t be moved into a separate struct and put it into the front of the struct, implementing inheritance this way?"
Because currently their layouts look like incompatible so they cannot be treated uniformly (for example shrinkDict is on offset 32 in latter and 28 in the former if I assumme dense packing, and if packing is not guaranteed, it feels like UB).

[2019-08-21 15:49] KOLANICH commented on #61
damn.

[2019-08-21 15:49] #61 closed

[2019-08-23 08:24] traversaro commented on #57
The main problem is that for now the new behaviour is opt-in (meaning that by default it is disabled) and only available in quite recent Windows versions, while clearly we need to support also older Windows releases.
In particular, which changes are you suggesting @jannick0 ?

[2019-08-23 09:16] jannick0 commented on #57
... allocate `lpFileName` dynamically (using the length of `file`, i.e. `len` as defined).

[2019-08-23 09:18] traversaro commented on #57
I now got what you meant, I think it make totally sense. Feel free to propose a PR, thanks!

[2019-08-29 19:30] pali commented on #60
Error code 18 is ERROR_NO_MORE_FILES. So LoadLibraryA failed with error "There are no more files.". Which looks very strange.

[2019-09-09 09:33] peak3d opened #66 "UTF-8 path failes to dlopen"
Hi, we use UTF-8 inside kodi, after PR #50 there is no chance to load widechar pathes anymore.
Could it be a solution to always convert the given path with MultiByteToWideChar and call LoadLibraryExW instead LoadLibraryExA ?

[2019-09-09 09:46] traversaro commented on #66
Thanks for reporting the issue. Could you provide an example of a unicode filename for which loading the library fails, so that we can add to the test suite? Thanks!

[2019-09-09 10:04] peak3d commented on #66
@traversaro you can create a local path by copying the widechar part from here:
https://github.com/xbmc/xbmc/issues/16577#issuecomment-529123266

Then place any dll into this folder, and try to dlopen it with full path.

[2019-09-09 10:39] peak3d commented on #66
I created this patch to get it working inside kodi: https://github.com/peak3d/inputstream.adaptive/blob/master/depends/windows/dlfcn-win32/0001-dlopen_with_widechar.patch

[2019-09-23 09:43] peak3d commented on #66
@pali I have poked arond with locale settings, but there was no success to dlopen the library. All implementations of such wrappers (e.g. chromium) in s/w which are meant to work with unicode / wchar paths use LoadLibrary(Ex)W. One alternative I have seen is using GetShortPathname(), but t.b.h. I want to avoid it.

[2019-09-23 09:47] pali commented on #66
This is reason why there are `_wopen` or `_wfopen` functions. If you are unable to use `_open` or `fopen` for opening your library file, you also should be unable to use `dlopen`.

This is also why I suggested to introduce API for `wdlopen` call to work in same way as MSVC's `_wopen`.

[2019-10-13 07:49] traversaro commented on #66
I think that @pali point makes sense, and `dlfcn-win32` should  be similar to the rest of Unix-APIs implementation on Windows, and the proper way to solve this is to add a `wdlopen` non-POSIX call.

cc  @seanyen @mxgrey this may affect Gazebo loading plugin with UTF-8 names, as `dlopen` is used in Gazebo and ignition-plugin .

[2019-10-13 07:51] traversaro commented on #66
cc @Gnumic that has  used dlfcn-win32 in https://github.com/JuliaInterop/Cxx.jl/issues/409 , and  so may be interested in this issue

[2020-02-19 22:10] pali commented on #66
Some more details and explanation... I hope that this would be clear right now.

All winapi functions which takes char* buffer expects that buffer is in `CP_ACP` encoding, including `fopen()`, `_open()`, `CreateFileA()`, `LoadLibraryExA()`, ... . So `dlopen()` should also takes filename buffer in `CP_ACP` encoding and not in `CP_UTF8`. You cannot use different encoding for `dlopen()` and different

[2020-03-24 12:14] traversaro opened #70 "Add automatic tests with Dr. Memory"
To avoid bugs such as the one fixed by https://github.com/dlfcn-win32/dlfcn-win32/pull/69, it could make sense to try to run the tests under a Memory Checker. In the past I had good experience in Windows with [Dr. Memory](https://drmemory.org/).

[2020-05-14 05:46] ambitslix opened #71 "dlsym multiple defintion"
Hello,

I'm using the following for a tracer in std::exceptions:
[code]
It works well under Linux with dl however when I cross compile with dflcn-win32 I get :

[code]
I'm using the MingW static cross compiler, perhaps I should do dynamic linking or, perhaps link order or perhaps I need a linker flag?

Thank you

[2020-05-14 08:15] pali commented on #71
Probably you need to mark your `__cxa_throw` implementation with `__declspec(dllexport)`.

Then main problem is that symbols on PE targets are resolved at compile/link time. So once you link symbol `A` in your executable `B` with library `C` then always this combination would be used.

`RTLD_NEXT` is locating symbol in executable at runtime. So to make it working, you need to have loaded one symbo

[2020-06-05 18:09] #66 closed

[2020-06-12 17:35] pali commented on #71
`dlsym`/`dlfcn` is for dynamic linked code/libraries. Nott for static linked `.a` libraries. So in above setup with static linked `libstdc++.a` library, `dlsym` would not work.

[2020-06-12 17:35] #71 closed

[2020-07-22 07:57] akyunus0 opened #75 "undefined reference to `GetModuleHandleExA'"
how can i solve this problem.
can you help me?

gcc -Wall -O3 -fomit-frame-pointer -Wl,--out-implib,libdl.dll.a -DSHARED -shared -o libdl.dll dlfcn.c
dlfcn.c: In function 'dlsym':
dlfcn.c:374:14: warning: implicit declaration of function 'GetModuleHandleExA'; did you mean 'GetModuleHandleA'? [-Wimplicit-function-declaration]
  374 |         if( !GetModuleHandleExA( GET_MODULE_HANDLE_EX_FLAG_FROM_A

[2020-07-22 16:37] pali commented on #75
Try to compile with `-D_WIN32_WINNT=0x0501`

[2020-07-22 21:11] akyunus0 commented on #75
How do i say Compile with `-D_WIN32_WINNT=0x0501`

[2020-07-22 22:18] pali commented on #75
you can set it in CPPFLAGS variable. or you can add `#define _WIN32_WINNT 0x0501` on top of the `dlfcn.c` file.

[2020-07-27 16:25] pali commented on #75
@akyunus0 have you tried adding that line?

[2020-08-04 13:38] akyunus0 commented on #75
@pali yes, and it worked. Thank you

[2020-08-04 16:37] pali commented on #75
@akyunus0: great! I created pull request with fix: https://github.com/dlfcn-win32/dlfcn-win32/pull/76

[2020-08-05 06:50] #75 closed

[2020-08-05 07:01] traversaro opened #77 "AppVeyor test problems"
I am not sure what happened, but the AppVeyor tests now do not work anymore correctly, do not report the status on the PRs, and now fail on the latest master (see https://ci.appveyor.com/project/dlfcn-win32/dlfcn-win32/builds/34102698 and https://ci.appveyor.com/project/dlfcn-win32/dlfcn-win32/builds/34488023). However, the failures seems due to some change in how the AppVeyor configuration are in

[2020-08-05 07:02] pali commented on #77
You can try to disable AppVeyor and then enable it again.

[2020-08-05 07:02] traversaro commented on #77
In particular, it seems that the `appveyor.yml` file is now ignored, and the solution in `dlfcn-win32\visual-studio\12\dlfcn-win32.sln` is automatically used.

[2020-08-08 08:59] pali commented on #77
AppVeyor should be fixed now. Now last commit in master branch is being retested.

On page https://ci.appveyor.com/account/dlfcn-win32/authorizations I reinstalled github integration.

[2020-08-08 09:00] #77 closed

[2020-08-08 09:14] traversaro commented on #77
Thanks a lot @pali !

[2020-08-09 07:58] advancedwebdeveloper opened #78 "Using dlfcn-win32 as a subproject of libbacktrace, gollvm"
Hi there.
I was investigating what could be patch on 32bit and 64bit Windows 10, for [https://go.googlesource.com/gollvm/](https://go.googlesource.com/gollvm/). That project, in turn, depend on [https://github.com/ianlancetaylor/libbacktrace](https://github.com/ianlancetaylor/libbacktrace).

In case if I would try to build libbacktrace alone (other dependencies of gollvm also have similar enforcem

[2020-08-09 08:26] advancedwebdeveloper commented on #78
I presume that this header

is also related.

[https://github.molgen.mpg.de/git-mirror/glibc/blob/master/include/link.h#L1](https://github.molgen.mpg.de/git-mirror/glibc/blob/master/include/link.h#L1) threw [https://github.molgen.mpg.de/git-mirror/glibc/blob/master/include/link.h#L2](https://github.molgen.mpg.de/git-mirror/glibc/blob/master/include/link.h#L2) contains such a claim:

. It looks lik

[2020-08-11 08:10] traversaro commented on #78
Hi @advancedwebdeveloper,
   the `dlfcn-win32` library is composed only by the `dlfcn.h` and `dlfcn.c`, that can be either be used compiled as a library on its own and then used in your build system, or including directly the files in your project (in this case anyhow note that you need to comply with the LGPL license under which dlfcn-win32 is licensed.

As explained by https://github.com/ianlanc

[2020-09-13 08:11] traversaro commented on #78
I am closing the issue due to the lack of further responses, feel free to comment if there are further doubts.

[2020-09-13 08:11] #78 closed

[2020-09-13 18:09] traversaro opened #83 "Write docs on how to include the dlfcn-win32 in a buildsystem agnostic way"
To support users with arbitrary build systems, it should be sufficient to document that:
* You need to compile a library from the `dlfcn.c` file, link it in your executable and make sure that `dlfcn.h` is on the preprocessor include search path.
* If the library is compiled from `dlfcn.c` file is shared, you need to define **only for the dlfcn library** the `SHARED` preprocessor definition.

Relat

[2020-09-24 10:09] LightSun opened #84 "no RTLD_NOLOAD"

[2020-12-11 11:00] rhabacker opened #87 "Add support to dladdr() to inspect export table for additional symbols"
Support for dladdr() has been added with https://github.com/dlfcn-win32/dlfcn-win32/pull/72. An addition to this function would be to examine the export table, if present, to find additional symbols

[2020-12-13 10:30] markand commented on #84
It isn't part of POSIX so it should stay out for portability reasons IMHO.

[2020-12-14 09:30] traversaro opened #91 "Release 1.3.0"
Once https://github.com/dlfcn-win32/dlfcn-win32/pull/72 is merged, probably it make sense to do a new release (minor as it adds a new functionality).

[2020-12-14 09:33] pali commented on #91
I'm planning to look at issue https://github.com/dlfcn-win32/dlfcn-win32/issues/87 after https://github.com/dlfcn-win32/dlfcn-win32/pull/72 is merged, it should not be hard.

[2020-12-14 09:56] traversaro commented on #91
Great, thanks!

[2020-12-21 20:27] pali opened #92 "Testing i586-mingw32msvc-gcc builds via cmake"
Currently testing via i586-mingw32msvc-gcc cross compiler on Travis is done only via Makefile. Extends testing of this compiler also via cmake build system. CC: @rhabacker

[2020-12-22 07:43] rhabacker commented on #92
@pail: As I'm not familiar with the .travis.yml format: would removing the line mentioned at https://github.com/dlfcn-win32/dlfcn-win32/blob/1f0a9b1bd8672582c8e585fe909be71cb86dd262/.travis.yml#L27 enable an additional build job for cmake ? What is required if not ?

[2020-12-22 09:29] pali commented on #92
No! When using `include` section, whole job definition must be specified and therefore copy+paste. Follwing patch enable cmake support, but cmake is failing (that is why it was not enabled yet):

[code]

[2021-01-25 20:27] nicowilliams commented on #21
Eh, it's a common and very useful extension.  One use is for supporting deploy-time relocation of code on the filesystem (e.g., to open asset files relative to install location that is not known at build-time).

I have written a WIN32 version in [Heimdal](https://github.com/heimdal/heimdal), in [lib/roken/dlfcn.hin](https://github.com/heimdal/heimdal/blob/master/lib/roken/dlfcn.hin) and [lib/roken

[2021-01-25 20:30] pali commented on #21
Ou, we have not known that there is no way :-) and togther with @rhabacker we have implemented it!

dladdr pull request is now ready for merge, see: https://github.com/dlfcn-win32/dlfcn-win32/pull/72

[2021-01-25 20:38] pali commented on #21
@nicowilliams: You could probably switch Heimdal to this dlfcn-win32 implementation which supports more features. dladdr() with symbol name support is going to be merged ASAP.

[2021-01-25 20:46] nicowilliams commented on #21
Ah, I see that, #72.  I might just switch Heimdal to use this when you've merged #72 (ah, you just did).  The license is compatible, and I do have a use for getting symbol names.

@pali @rhabacker Do you happen to know if the new `dladdr()` in #72 will support `DATA` symbols?

[2021-01-25 20:51] pali commented on #21
Now (really now!), I'm going to extend dladdr to support reading symbols also from EXPORT table.

About DATA symbols, I'm not sure where are they stored in PE headers...

[2021-01-25 20:52] nicowilliams commented on #21
OK, I can always test it, but I probably won't get to it soon.

[2021-01-25 21:45] rhabacker commented on #21
That has not been tested, but should be possible when the variable is decorated with __declspec(dllexport) and __declspec(dllimport).

[2021-01-25 22:27] nicowilliams commented on #21
@rhabacker yes, `dladdr()` too is not guaranteed to work for non-exported symbols, and I assume the same reasons would apply to PE.

For the curious, my immediate need is that I'm modifying a "templating" ASN.1 compiler that produces something like bytecode as named arrays of entries, and I need to either enhance those with additional metadata that... happens to be in their symbolic names anyways,

[2021-01-26 22:39] nicowilliams commented on #84
What I tend to do is have code like:

[code]

[2021-01-26 23:35] nicowilliams commented on #21
FWIW, I don't get symbol names for pointers to data symbols.  I tried applying the patch from #94 and still.

[2021-01-26 23:38] nicowilliams commented on #84
But @markand, the whole purpose of this repository is enhancing portability by bringing to WIN32 an API that's foreign to it.  One could just as well say "don't use POSIX dlfcn on WIN32, use WIN32 native APIs".

Useful extensions to POSIX are still useful, and if widely used, then one tends to build compatible implementations for systems where those extensions are not available.

[2021-01-29 13:12] pali commented on #84
Well, `RTLD_NOLOAD` is not really part of POSIX and I do not think that it is possible to implement this GNU flag on Windows. So I do not see any reason to implement a new flag `RTLD_NOLOAD` which would be incompatible with GNU dlopen implementation. Applications would still need to #ifdef code for windows, so it does not bring any value. Just cause problems as people would think that this flag is

[2021-01-29 18:01] nicowilliams commented on #84
FYI, `RTLD_NOLOAD` is not just GNU, but also BSD (FreeBSD, NetBSD, possibly others, have it) and Solaris/Illumos.  Given that, it might as well be POSIX.  In any case, presumably you'd accept a PR for more non-POSIX extensions provided they are useful enough and not too complex or whatever criteria were applied to `dladdr()`.

I'm not sure if there's many apps using it, and it's hard to find any w

[2021-01-29 18:13] pali commented on #84
Proper implementation of dladdr() tool half of year. So it is hard to do it properly and takes lot of manpower and time. Anyway can work on it, prepare pull request, but do not expect that it would be merged quickly... be prepared that people do not have time for review and also that it may take year (or more) for merging...

[2021-01-30 17:09] rhabacker commented on #21
I suggest to add a feature request for such support.

[2021-01-30 17:14] pali commented on #21
I have put `__declspec(dllexport) unsigned char big_array[100];` into the library and then in executable I called:
[code]
and it worked, I get in `info` infromation about library and name of symbol `big_array`.

[2021-01-30 17:26] rhabacker commented on #21
Nice to hear. Is this result with or without #94 applied ?

[2021-01-30 17:27] pali commented on #21
I tested it only with gcc + #94.

[2021-02-03 17:33] #87 closed

[2021-02-26 23:24] pali commented on #91
dladdr() is fully implemented and current master branch tested on different configuration & compilator. So ready for a new release? Maybe extending documentation?

[2021-02-27 09:01] traversaro commented on #91
Yes, I wanted to revise the README a bit to mention dladdr, but there is no need to block the release on that, we can easily release v1.3.1 with improved docs.

[2021-02-27 09:29] traversaro commented on #91
I prepared a draft releases note on the v1.3.0 release in https://github.com/dlfcn-win32/dlfcn-win32/releases/tag/v1.3.0, if there are no comments I plan to switch the release from "prerelease" to actual release in one day.

[2021-02-28 20:53] pali commented on #91
I'm fine with it.

[2021-02-28 21:21] traversaro commented on #91
v1.3.0 available at https://github.com/dlfcn-win32/dlfcn-win32/releases/tag/v1.3.0 .

[2021-02-28 21:21] #91 closed

[2021-04-11 10:50] pali commented on #92
Pull request #93 was merged, but there is one open issue https://github.com/dlfcn-win32/dlfcn-win32/pull/93#pullrequestreview-558954704

[2021-04-28 06:35] traversaro opened #100 "Understand why settting cmake_minimum_required to 3.20 make test fail"
See https://github.com/dlfcn-win32/dlfcn-win32/pull/96#issuecomment-827776654 .

[2021-04-29 11:01] xantares commented on #100
that I cannot reproduce locally, even in xenial

[2022-04-21 14:00] MSP-Greg opened #104 "Use of LoadLibraryExA with LOAD_WITH_ALTERED_SEARCH_PATH flag"
The `LOAD_WITH_ALTERED_SEARCH_PATH` flag should only be used when `lpFileName` specifies an absolute path.

https://github.com/dlfcn-win32/dlfcn-win32/blob/9d0ef119d9fcb9139f831adc224857b791c81140/src/dlfcn.c#L388-L393

This 'issue' was discovered in code that uses a relative `lpFileName`.

See commit https://github.com/ffi/ffi/commit/b3a0a876067c976ccc659985fed7cb70b60dbb0d, which references http

[2022-04-21 14:57] traversaro commented on #104
Thanks for the detailed bug report. For linking `shlwapi` we can link it via `target_link_libraries` or the CMake build system, and just document in the README for anyone else. However, I think that we can probably wait for @pali opinion as he originally wrote that part of the code .

[2022-04-21 16:32] pali commented on #104
Well, adding `shlwapi` to CMake `target_link_libraries` is not enough. It does not work for statically compiled library and also for library compiled by Makefile. In past there was similar linking issue with psapi.dll library which was resolved by removing this dependency at build time.

Anyway, I looked how is `PathIsRelativeA()` implemented (in ReactOS) and it is pretty simple:
[code]

If you re

[2022-04-21 16:55] MSP-Greg commented on #104
Thanks for investigating.  I think the failing test added a folder with `SetDllDirectoryA`, then a filename (like `mycode.dll`) was passed to `LoadLibraryExA`.  Not.Sure.

[2022-04-21 18:51] pali commented on #104
Documentation for **LOAD_WITH_ALTERED_SEARCH_PATH** says:
- If this value is used and _lpFileName_ specifies an absolute path, the system uses the alternate file search strategy discussed in the Remarks section to find associated executable modules that the specified module causes to be loaded. If this value is used and _lpFileName_ specifies a relative path, the behavior is undefined.
- If this v

[2022-04-21 21:04] MSP-Greg commented on #104
Been there, done that.  A lot.

I tried the code, and the test failure no longer occurs.

Lastly, I think the above MSFT wording that you quoted is a mess.  By 'or if _lpFileName_ does not specify a path', do they mean that _lpFileName_ is a file name?  And 'the alternate search begins in the directory of the executable module that LoadLibraryEx is loading'.  Is a dll an 'executable module', or ar

[2022-04-21 22:37] pali commented on #104
Yes, this is normal.

Based on context, I'm guessing that there is missing word _absolute_.

My understanding is that 'executable module' is EXE, DLL or any other file which EXE or DLL reference as a dependency. And 'executable module that LoadLibraryEx is loading' I understand that is _lpFileName_.

Whole article is at https://docs.microsoft.com/en-us/windows/win32/dlls/dynamic-link-library-searc

[2022-04-21 22:48] MSP-Greg commented on #104
@pali

I think I just found the same...

Ruby has a few 'packages' that wrap libffi, most also use dlfcn.  The change discussed here fixes one set of tests, but breaks another.

One test was using `SetDllDirectoryA`, and the fix here worked.  Another test was loading a system file, and that test fails with the fix here.  Hence, need to figure out how to make both tests sets pass.  Thanks, it might

[2022-07-02 19:57] hajsf opened #105 "config.mak: No such file or directory"
While running `make` command at my Windows 11 machine, I got the error:
[code]

Am I missing something?

[2022-07-02 19:59] pali commented on #105
Yes, running `./configure` which will generate that file.

[2022-07-02 20:07] hajsf commented on #105
This is something completely new to me. I got the file generated as:

<img width="587" alt="image" src="https://user-images.githubusercontent.com/98168280/177014836-73d9f5af-3225-4f70-9a07-ece155e04a0b.png">

But I got an error:
[code]

Do I need to do anything in this generated file, or just saving it as `config.mak`

[2022-07-02 20:19] pali commented on #105
You need to **run** this `./configure` script. It will generate `config.mak`.

[2022-07-02 20:42] jonaski commented on #105
This is a common problem with GNU autotools on Windows. You are better off using CMake.

[2022-10-22 09:45] pali commented on #105
We are not using GNU autotools.

Steps for Makefile build are:
1. run `./configure`
2. run `make`

Another option is to use cmake.

[2022-10-22 09:45] #105 closed